
/*añadido por mi*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;700&display=swap');


.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
/** NAVBAR _COSITAS**/
.nav_color{
    background-color: #232536;
}

.button_color{
    width: 152px;
    height: 50px;
    top: 14px;
    left: 1078PX;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.button_letter{
    color:#232536 ;
}

.grup1{
    width: 100px;
    height: 50px;
    top: 15px;
    left: 50px;
    color: #FFFFFF;
}

.logo{
 width:34px;
 height: 15px;
 top: 32px;
 left: 116px;   
} 

.circle{
   width: 50px;
   height: 50px;
   top: 15px;
   left: 50px;
   border-right: 80px;
   color: #FFFFFF;
   margin-right: 10px;
}
/** esto aun no funciona y no se porque 

.navhome{
    width: 49px;
    height: 24px;
    top: 30px;
    left: 677px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    size: 16px;
    line-height: 24px;
    color:  #FFFFFF ;
}

.navblogs{
    width: 44px;
    height: 24px;
    top: 30px;
    left: 768px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    color:  #FFFFFF ;
}
.navcontact{
    width: 89px;
    height: 24px;
    top: 30px;
    left: 946px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    size: 16px;
    line-height: 24px;
    color:  #FFFFFF ;
}
**/
/** IMAGEN DE FONDO_EN BODY-EN -EL HOME **/
.layout{
    background-image: url(../img/coche_imagen_fondo.jpeg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white;
}

.layout::after{
    content: "";
    position: absolute;
    width: 1220px;
    height: 700px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    height: 100vh;
    z-index: 1;
}

.tittle_intro{
    z-index: 2;
    padding-left: 50px;
    padding-top: 77px;
    padding-bottom: 5px;
    padding-right: 516px;
    margin-bottom: 50px;
}

.text_intro{
    z-index: 2;
    width: 600px;
    height: 100px;
    top: 447px;
    padding-left: 50px;
}

.buton_format{
    z-index: 2;
    color: #FFFFFF;
    background-color: #FF5959;
    width: 186px;
    height: 60.05px;
    top: 577px;
    left: 51px;
    border-radius: 10px;
}
/**COntenido del blog*/

.latest{
    width: 682px;
    height: 830px;
    top: 785px;
    left: 50px;
}

.trending{
    width: 483px;
    height: 825px;
    top: 790px;
    left: 747px;
}
.img_blog{
    width: 626px;
    height: 369px;
    top: 868px;
    left: 77px;
}

.buton_blog{
    z-index: 2;
    color: #FFFFFF;
    background-color: #FF5959;
    width: 280px;
    height: 61px;
    top: 1554px;
    left: 77px;
    border-radius: 10px;
}

.bg-color{
    background-color: #FF5959;
    color: #FFFFFF;
}

.bg-text{
    color: #FF5959;
}

.trendingbox{
    width: 480px;
    height: 181px;
    top: 831px;
    left: 750px;
    align-items: safe;
}

.newtech{
    width: 1180px;
    height: 450.67px;
    top: 1673px;
    left: 51px;   
    margin-top: 70px;    
    margin-bottom: 70px;
}

.newtech_container{
    width: 280px;
    height: 396.67px;
    top: 54px;
    gap: 0px;
    border-radius: 13px ;
    background-color:#F4F0F8;
    justify-items: left;
    align-items: center;
}

.img_newtech{
    width: 248px;
    height: 188.86px;
    top: 69px;
    left: 16px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.img_newtechsm{
    width: 53px;
    height: 53px;
    top: 382px;
    left: 16px;
    border-radius: 50px;
}

    .col-md-3 {
        flex: 0 0 auto;
        width: 23%;
        margin-right: 10px;
    }

    .col-md-6 {
        margin-left: 10px;
    }


    .row{
        margin-left: 50px;
    }
    /****A continucaion viene ALL CATEGORY ****/

    .category{
        width: 1309px;
        height: 415px;
        top: 2190px;
        left: 3px;
        margin-top: 70px;
        margin-bottom: 50px;
      /**  border-top: 1px solid #2325364D; --> (aun no me va bien tengo que arreglar cositas) **/
    }

    .group_9{
        width: 255px;
        height: 266px;
        top: 145px;
        left: 50px;
        border-radius: 10px;
        background-color:#F4F0F8;
        justify-items: center;
    }

    .group_10{
        width: 255px;
        height: 266px;
        top: 131px;
        left: 357px;
        border-radius: 10px;
        background-color:#F4F0F8;
        justify-items: center;  
    }

    .group_11{
        width: 255px;
        height: 266px;
        top: 131px;
        left: 665px;
        border-radius: 10px;
        background-color:#F4F0F8;
        justify-items: center; 
    }

    .group_12{
        width: 255px;
        height: 266px;
        top: 131px;
        left: 972px;
        border-radius: 10px;
        background-color:#F4F0F8;
        justify-items: center; 
    }

    .imgcat{
        width: 90px;
        height: 90px;
        top: 140px;
        left: 144px;
        gap: 0px;
        opacity: 0px;
        border-radius: 50px;
        margin: 20px;
    }
    
    .titol_category_9{
        width: 127px;
        height: 30px;
        top: 261px;
        left: 114px;
        color: #000000;
    }

    .text_category{
        width: 230px;
        height: 63px;
        top: 306px;
        left: 63px;
    }


    /****A continucaion viene TESTIMONIAL ****/
    .testimonial{
        width: 1280px;
        height: 392px;
        top: 2671px;    
        margin-top: 70px;
        margin-bottom: 50px;
        background-color: #232536;
        color: #F4F0F8;
      }

      .container_testimonial_1{
        width: 321.95px;
        height: 228px;
        top: 2757px;
        left: 153px;    
      }

      .text_testimonial{
        width: 162px;
        height: 20px;
        top: 2757px;
        left: 153px;
        margin-top: 80px;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 3px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        }

      .imgtestimonial{
        width: 44.25px;
        height: 48px;
        top: 2945px;
        left: 637.19px;
        gap: 0px;
        border-radius: 16px;
      }

      .container_testimonial_2{
        width: 494.81px;
        height: 323px;
        top: 2710px;
        left: 637.19px;
          }

      .arrow_left{
        width: 48px;
        height: 48px;
        top: 2993px;
        left: 1048.32px;
        border-radius: 50px;        
        }

      .arrow_right{
        width: 62px;
        height: 62px;
        top: 2938px;
        left: 1070px;
        border-radius: 50px;
        background-color: #FF5959;
    
      }